body
{
    background: #fff;
    font-family: UniversLight;
}

.container
{
    max-width: 800px;
    box-shadow: 5px 5px 10px 5px #666;
    margin: 16px auto;
    padding: 20px;
}

.announcement {
    font-size: 1.2em;
    text-align: center;
}

h1
{
    font-weight: normal;
    font-size: 2.4em;
    font-family: UniversRoman;
    color: #a00;
    text-align: center;
}

a.showScore
{
    color: #c00;
}

a.showScore:visited
{
    color: #a00;
}

#date
{
    font-weight: bold;
    font-size: .9em;
    color: #666;
}

h2
{
    font-weight: bold;
    font-size: 1.9em;
    margin: 20px 0 5px;
}

table
{
    width: 100%;
    max-width: 650px;
}

td, th
{
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    padding: 4px;
    text-align: left;
}

td+td
{
    border-left: 0 dotted #666;
}

td.place
{
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    text-align: center;
    color: #666;
}

td.teamname
{
    font-weight: bold;
    font-size: 1.1em;
    color: #00a;
    letter-spacing: 1px;
}

td.score
{
    color: #000;
    font-size: 1.2em;
    text-align: right;
}

span.sp
{
    height: 30px;
    page-break-after: always;
    display: block;
}

p.updated
{
    font-size: .8em;
    color: #666;
    margin-bottom: 10px;
}

span.gr
{
    color: #666;
    font-size: .75em;
    letter-spacing: 0;
    font-weight: 400;
}

#mobileAddress
{
    display: block;
    color: #000;
    margin: 15px 0;
}

#mobileAddress strong
{
    color: #00f;
    margin-left: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.see-red
{
    font-family: sans-serif;
    font-size: 10px;
    font-style: normal;
}

.navcontainer
{
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #CCC;
    float: left;
    width: 200px;
    border: thick double #000;
    margin: 20px;
    padding: 20px;
}

.add {
    background-color: #d9ffd9;
}

.edit {
    background-color: #ffffd9;
}

.box {
    padding: 20px;
}

.box h2 {
    margin-top: 0;
}

.flash {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #eee;
    text-align: center;
}

